<!DOCTYPE html>
<html>    
<head>
	<title>Login</title>
</head>
<body><center>
	<div class="animation_sec">
		<div class="circle-one">
		</div>
	</div>

	<h3 id="form-title">LOGIN</h3>
	<form method="POST" action="login">
		{% csrf_token %}
		<span class="input-group-text"><i class="fas fa-user"></i></span>
			<input type="text" name="username" placeholder="Username..." class="form-control">
		<br><br><span class="input-group-text"><i class="fas fa-key"></i></span>
			<input type="password" name="password" placeholder="Password..." class="form-control" >
		<br><br><input class="btn login_btn" type="submit" value="Login">
	</form>
	
	{% for message in messages %}
	<p id="messages">{{message}}</p>
	{% endfor %}			
	
	Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
</center>	
</body>
</html>
